---
name: CI
on:
  schedule:
  - cron: '3 0,3,6,9 * * *'
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup Aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.56.5
        aqua_opts: -a
    - name: Running Maintenance Task
      run: task
    - name: Rewrite DataStores
      run: task rewrite
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Check DataStores
      run: git diff
    - name: Setup GitHub App Token
      if: github.ref == 'refs/heads/main'
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-token
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
        permission-contents: write
    - name: Commit and Push
      if: github.ref == 'refs/heads/main'
      run: |-
        git config --global user.name "github-actions"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git remote set-url origin "https://x-access-token:${APP_TOKEN}@github.com/${{ github.repository }}"
        git commit -am "Update datastores" && git push || exit 0
      env:
        APP_TOKEN: ${{ steps.app-token.outputs.token }}
    - name: Central Coverage Report (octocov)
      if: github.ref == 'refs/heads/main'
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      with:
        script: |
          toolpath = await io.which('octocov', true)
          await exec.exec(`${toolpath}`)
      env:
        OCTOCOV_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
