---
name: Renovate Config Validator
on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - '.github/workflows/renovate-config-validator.yml'
    - '.renovaterc.json'
permissions:
  contents: read
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 'lts/*'
        cache: 'npm'
        cache-dependency-path: '.renovaterc.json'
    - name: Renovate Config Validator
      run: npx --yes --package renovate -- renovate-config-validator --strict
